# Dependencies
node_modules/

# Environment variables
.env

# Hardhat artifacts and cache
artifacts/
cache/

delete_when_done/
deprecated/
# /home/bui/shared/liberdus/WhaleSwap-UI/.cursor/settings.json
.cursor/settings.json